<div class="row">
	<div class="offset3 span6">
		<div class="well">
			<h2>Auteurs</h2>
			<ul>
				<li>Damien Goutal</li>
				<li>Florentin Le Moal</li>
				<li>Quentin Maginot</li>
				<li>Thibaut Revilliod</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="offset3 span6">
		<div class="well">
			<h2>Technologies</h2>
			<ul>
				<li>Ruby on Rails</li>
				<li>Bootstrap</li>
				<li>JQuery</li>
				<li>AsciiDoc</li>
			</ul>
		</div>
	</div>
</div>
