<div class="row">
	<div class="offset2 span8">
		<div class="well center">
			<h2>DOCumenT Over Ruby on rails</h2>
			<p>Plateforme interractive de génération de cours</p>
			<%= link_to 'Voir tous les cours','/cours/tous', :class => 'btn btn-large btn-primary' %>
		</div>
	</div>
</div>