<h1>Liste des cours</h1>
<p>
<div class="row-fluid">
	<div class="offset1 span6">
		<div class="well" style="padding: 8px 0;">
			<ul class="nav nav-list">
				<% Dir.chdir("public/cours") do
					Dir.glob("./*/config").each do |cours| 
					fic =File.open(cours,'r')
					nom = fic.readline%>

					<li><%= link_to nom, :controller=>'admin', :action=>'detail', :cours=>cours%></li>
				<% end
				end %>
			</ul>
		</div>
	</div>
</div>
<%= link_to 'Générer les html', {:controller=>'admin', :action=>'genererTousLesHtml'}, :class => 'btn' %>
<%= link_to 'Générer les pdf', {:controller=>'admin', :action=>'genererTousLesPdf'}, :class => 'btn' %>

</p>