<div class="row">
	<div class="offset3 span6">
		<div class="well">
			<h1>Détail du cours</h1>
			<p> Dernière mise à jour du cours : le <%=@date.split(":date: ")[1]%> par <%=@author.split(":author: ")[1]%> </p>
		</div>
	</div>
</div>
<div class="row">
	<div class="offset3 span6">
		<% if FileTest.exists?("public/cours/#{@path}/main.html") %><%= link_to 'Consulter le cours', "#{@path}/main.html", :class => 'btn' %><% end %> 
		<% if FileTest.exists?("public/cours/#{@path}/main.pdf") %><%= link_to 'Obtenir le pdf', "#{@path}/main.pdf", :class => 'btn' %><% end %>
	</div>
</div>