@import "bootstrap";

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

@import "bootstrap-responsive";

.center {
  text-align: center;
}

@media (max-width: 767px) {
  div.modal { // Added more weight to the selector to override
    &.fade { top: -100px; }
    &.fade.in { top: 20px; }
  }
}